body{
  background: #00589F;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00589F', endColorstr='#0073CF', GradientType=0);
  background: -webkit-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  background: -moz-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  background: -ms-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  background: -o-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  background: linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  color: white;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
    height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}
.dk_label {
  padding-right: 12px;
}

/*not part of default style*/
.dk_container {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  outline: none;
}

.dk_toggle {
  background-color: #1abc9c;
  color: white;
  border-radius: 6px;
  overflow: hidden;
  padding: 11px 45px 11px 13px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.dk_toggle:hover, .dk_toggle:focus, .dk_toggle .dk_focus .dk_toggle {
  background-color: #2fe2bf;
  color: white;
  outline: none;
}
.dk_toggle:active {
  background-color: #16a085;
  outline: none;
}
.dk_toggle:active .select-icon {
  border-left-color: transparent;
}

.select-icon {
  background: #1abc9c url("http://i.imgur.com/kXsFVER.png") no-repeat right center;
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  border-radius: 0 6px 6px 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.dk_open {
  z-index: 10;
}
.dk_open .dk_toggle {
  background-color: #1abc9c;
}
.dk_open .dk_toggle .select-icon {
  background-color: #16a085;
  border-left-color: transparent;
}

.dk_options {
  padding-top: 14px;
}
.dk_options:before {
  content: "";
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #34495e transparent;
  height: 0px;
  position: absolute;
  left: 15px;
  top: 5px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}
.dk_options:before {
  left: auto;
  right: 12px;
}
.dk_options li {
  padding-bottom: 3px;
}
.dk_options a {
  border-radius: 3px;
  color: white;
  display: block;
  padding: 5px 9px;
  text-decoration: none;
}
.dk_options a:hover {
  background-color: #1abc9c;
}

.dk_option_current a {
  background-color: #1abc9c;
}

.dk_options_inner {
  background-color: #34495e;
  border-radius: 5px;
  margin: 0;
  max-height: 244px;
  padding: 3px 3px 0;
}

.dk_touch .dk_options {
  max-height: 250px;
}

.dk_container {
  display: none;
  position: relative;
  vertical-align: middle;
}
.dk_container.dk_shown {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.dk_container[class*="span"] {
  float: none;
  margin-left: 0;
}

.dk_toggle {
  display: block;
  position: relative;
}

.dk_open {
  position: relative;
}
.dk_open .dk_options {
  margin-top: -1px;
  opacity: 1;
  z-index: 10;
  display: block\9;
}
.dk_open .dk_label {
  color: inherit;
}

.dk_options {
  margin-top: -21px;
  position: absolute;
  left: 0;
  opacity: 0;
  width: 220px;
  z-index: -100;
  display: none\9;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-backface-visibility: hidden;
}
.select-right .dk_options {
  left: auto;
  right: 0;
}
.dk_options a {
  display: block;
}

.dk_options_inner {
  overflow: auto;
  outline: none;
  position: relative;
}

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}